html {
    overflow-x: auto;
    white-space: wrap;
}

body {
    background-color: $bg-color;
}

button {
    cursor: pointer;
}

.window {
    max-width: 800px;
}

.status-bar {
    background-color: $gray;
}

.window__icon-flex-container {
    margin: 24px 24px 0 0;

    .window__icon {
        width: 40px;
        height: 40px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 2px;
    box-shadow: inset 1px 0 $white;
    display: block;
    background-color: $gray;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;

    .footer__start-button {
        font-weight: bold;
        min-width: 59px;
        margin-right: 1px;
        height: 20px;
    }
    
    .footer__time-box {
        text-align: right;
        min-width: 150px;
    }
    
    .footer__active-program {
        padding: 2px 10px 0 6px;
        margin-left: 5px;
        border-top: 1px solid $black;
        border-left: 1px solid $black;
        box-shadow: inset 1px 1px grey;
        background-image: url(../images/sprite.png);
        min-width: 160px;
    }
    
    .start__icon {
        margin-right: 4px;
    }

    .footer__icon {
        margin-right: 10px;
    }

    img {
        width: 16px;
        height: 16px;
    }
}

